:root {
  --c-background: black;
  --c-background-surface: #161616;
  --c-text: white;
  --c-text-invert: black;
  --c-text-subtext: gray;
  --c-text-accent: yellow;
  --c-border: gray;

  --c-navigation-active: gray;

  --b-padding-inline: 2em;
  --b-padding-block: 1.2em;
}
