// .navigation-pane {
//   z-index: 1;
// }
.navigation-pane__list {
  display: flex;
  justify-content: space-evenly;

  list-style: none;
  margin: 0;
  padding: 0;

  border-top: 1px solid var(--c-border);
}
.navigation-pane__item {
  display: inline-flex;
  // width: 100%;
  // flex-shrink: 0;
  // justify-content: center;
  flex-basis: calc(100% / 3);

  &:not(:last-child) {
    border-right: 1px solid var(--c-border);
  }
}
.navigation-pane__link {
  display: inline-block;
  // padding-inline: var(--b-padding-inline);
  padding-block: var(--b-padding-block);

  width: 100%;

  font-size: 1.2em;
  color: var(--c-text);
  text-decoration: none;
  text-align: center;
}
.navigation-pane__link--active {
  background-color: var(--c-navigation-active);
  color: var(--c-text-invert);
}
